$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";

$bg-color: #ffffff;
$cute-stuff-bg: #f9f9f9;
$light-green: #63d1bb;
$light-green-hover: #59d5bc;
$dark-green: #56c3b2;
$dark-green-hover: #46c1ae;
$box-shadow: #ececec;
$footer-bg-color: #f1f1f1;
$footer-line: #e5e5e5;
$gray: #444444;
$black: #000000;

$time: 0.2s;

$sliceHeight: 5px;
