@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2");
  font-style: bold;
  font-weight: bold;
}
