.about {
  display: block;
  padding: 30px;
  &__title {
    display: block;
    font-family: "OpenSansBold";
    font-size: 25px;
    line-height: 30px;
  }
}
.about-item {
  list-style: none;
  margin-bottom: 30px;
  &__title {
    font-family: "OpenSansBold";
    font-size: 17px;
  }
}
.about-item__logo {
  &--flower {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
  &--money {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
  &--heart {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
  &--roll {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
  &--rocket {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
  &--gift {
    margin: 30px 5px 20px 7px;
    fill: $light-green;
  }
}
