.about {
  display: block;
  padding: 30px 30px 26px 30px;
}

.about__title {
  display: block;
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
}

.about-item {
  list-style: none;
  margin-bottom: 30px;
}

.about-item__title {
  font-family: "OpenSansBold";
  font-size: 17px;
  padding-top: 20px;
}

.about-item__logo {

  &--flower {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 32px;
      height: 37px;
      background: url("../img/icon-feature-1_green.svg") no-repeat center;
    }
  }

  &--money {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 47px;
      height: 27px;
      background: url("../img/icon-feature-3_green.svg") no-repeat center;
    }
  }

  &--heart {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 33px;
      height: 28px;
      background: url("../img/icon-feature-5_green.svg") no-repeat center;
    }
  }

  &--roll {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 34px;
      height: 34px;
      background: url("../img/icon-feature-2_green.svg") no-repeat center;
    }
  }

  &--rocket {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 54px;
      height: 23px;
      background: url("../img/icon-feature-4_green.svg") no-repeat center;
    }
  }

  &--gift {
    padding-top: 20px;

    &:before {
      content: "";
      display: block;
      width: 33px;
      height: 32px;
      background: url("../img/icon-feature-6_green.svg") no-repeat center;
    }
  }
}


@media ($tablet-widths) {

  .about {
    width: 100%;
    padding: 42px 50px 50px 50px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 27px;
  }

  .about-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .about-item__title {
    font-size: 20px;
  }

  .about-item__logo {
    display: inline-block;
    width: 295px;
    margin-bottom: 35px;
    margin-right: 30px;

    &--flower {
      order: 0;
    }
    &--money {
      order: 2;
    }
    &--heart {
      order: 4;
    }
    &--roll {
      order: 1;
    }
    &--rocket {
      order: 3;
    }
    &--gift {
      order: 5;
    }
  }
}


@media ($desktop-widths) {

  .about {
    width: auto;
    margin-left: 50px;
    padding-left: 175px;
    padding-bottom: 35px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-item__logo {
    margin-right: 60px;
  }
}
