.best-item {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 320px;
  padding: 30px;
  &__title {
    font-family: "OpenSansBold";
    font-size: 25px;
    line-height: 30px;
  }
  &__best-product {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: "OpenSansBold";
    font-size: 17px;
    line-height: 16px;
    color: $light-green;
    text-transform: uppercase;
  }
  &__description {
    font-family: "OpenSansRegular";
    font-size: 15px;
    color: $gray;
    line-height: 24px;
    margin-bottom: 30px;
  }
  &__details {
    font-family: "OpenSansRegular";
    font-size: 15px;
    line-height: 24px;
    & dt {
      display: block;
      float: left;
      padding-right: 2px;
    }
    & dd {
      display: block;
//      overflow: hidden;
      margin-left: 95px;
      padding-bottom: 10px;
    }
  }
  &__img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__btn {
    margin-top: 30px;
  }
  &__price {
    margin: 0 auto;
    font-family: "OpenSansBold";
    font-size: 17px;
    color: $gray;
    line-height: 24px;
  }
}
