.best-item {
  position: relative;
  padding: 30px;
}

.best-item__title {
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
}

.best-item__best-product {
  display: block;
  margin: 7px 0 25px 0;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 16px;
  color: $light-green;
  text-transform: uppercase;
}

.best-item__description {
  font-family: "OpenSansRegular";
  font-size: 15px;
  color: $gray;
  line-height: 24px;
  margin-bottom: 30px;
}

.best-item__details {
  margin-bottom: 28px;
  font-family: "OpenSansRegular";
  font-size: 15px;
  line-height: 24px;
}

.best-item__details dt {
  display: block;
  float: left;
  padding-right: 2px;
}

.best-item__details dd {
  display: block;
  margin-left: 95px;
  margin-bottom: 10px;

  &:after {
    content: "";
    display: block;
    width: 260px;
    height: 1px;
    margin-top: 10px;
    margin-left: -95px;
    background-color: $box-shadow;
  }
}

.best-item__img {
  margin: 0 auto;
  width: 260px;
  height: 315px;
  margin-bottom: 30px;
  background-color: $footer-bg-color;
}

.best-item__btn {
  margin-top: 28px;
  width: 260px;
}

.best-item__price {
  text-align: center;
  font-family: "OpenSansBold";
  font-size: 17px;
  color: $gray;
  line-height: 24px;
}


@media ($tablet-widths) {
  .best-item {
    position: relative;
    padding: 50px;
    padding-bottom: 42px;
  }

  .best-item__title-wrapper {
    position: relative;
  }

  .best-item__title {
    font-size: 43px;
    line-height: 50px;
  }

  .best-item__description-wrapper {
    width: 290px;
    margin-top: 50px;
  }

  .best-item__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .best-item__details {
    margin-bottom: 0;
    line-height: 20px;
  }

  .best-item__price-wrapper {
    margin-top: 55px;
    width: 290px;
  }

  .best-item__price {
    font-size: 20px;
  }

  .best-item__btn {
    margin: 32px 0 0 0;
    width: 290px;
    line-height: 16px;
    padding: 17px 0;
  }

  .best-item__img {
    position:absolute;
    right: 50px;
    top: 160px;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
    background-color: $bg-color;
  }

  .best-item__best-product {
    display: block;
    position: absolute;
    top: 5px;
    right: 28px;
    width: 70px;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
  }
}


@media ($desktop-widths) {

  .best-item {
    position: relative;
    margin-left: 175px;
    padding-top: 55px;
    padding-bottom: 72px;
  }

  .best-item__title-wrapper {
    margin: 1px 0 0 225px;
  }

  .best-item__title {
    display: block;
    position: absolute;
    top: 58px;
    left: -230px;
    font-size: 53px;
    line-height: 57px;
    z-index: 10;
  }

  .best-item__description-wrapper {
    margin: 162px 0 0 0;
    width: 295px;
  }

  .best-item__description {
    width: 295px;
    margin-bottom: 60px;
  }

  .best-item__price-wrapper {
    margin-top: 119px;
  }

  .best-item__img {
    width: 525px;
    height: 636px;
    top: 70px;
  }

  .best-item__best-product {
    top: 80px;
    left: -380px;
    width: 70px;
    margin: 0;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
  }
}
