.contacts {
  display: block;
  margin: 45px 30px 35px 30px;
}

.contacts__title {
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts__info {
  font-family: "OpenSansRegular";
  font-size: 15px;
  line-height: 30px;
  color: $gray;
}

.contacts__info dt {
  display: block;
  float: left;
  padding-right: 1px;
}

.contacts__info dd {
  display: block;
  padding-right: 40px;
  margin: 0 0 40px 80px;
}

.contacts__info-mail-link {
  &:after {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background-color: $light-green;
  }
}

.contacts__info-mail-link {
  text-decoration: none;
  color: $gray;

  &:hover {
    color:$dark-green-hover;

    &:after {
      background-color: $dark-green-hover;
    }
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);

    &:after {
      opacity: 0.1;
    }
  }
}

.contact-us {
  width: 230px;
}


@media ($tablet-widths) {
  .contacts {
    position: relative;
    margin: 58px 0 60px 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 50px;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat center;
    }
  }

  .contacts__title {
    padding-top: 20px;
    margin: 0 50px 50px 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__info {
    @include clearfix();
    margin: 0 50px 50px 50px;
    font-size: 17px;
  }

  .contacts__info dd {
    margin-bottom: 0;
  }

  .contacts__info-mail,
  .contacts__info-address {
    display: block;
    width: 50%;
    float: left;
  }

  .contacts__info-mail-link {
    &:after {
      width: 205px;
    }
  }

  .contact-us {
    line-height: 16px;
    padding: 17px 0;
  }
}


@media ($desktop-widths) {
  .contacts {
    margin: 71px 50px 105px 50px;
    padding-left: 175px;

    &:after {
      left: 60px;
      top: 60px;
    }
  }

  .contacts__title {
    width: 320px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 58px;
    margin-left: 0;
    padding-top: 70px;
  }

  .contacts__info {
    width: 320px;
    font-size: 17px;
    margin-bottom: 75px;
    margin-left: 0;
  }

  .contacts__info-mail,
  .contacts__info-address {
    width: 300px;
  }

  .contacts__info-mail {
    margin-bottom: 27px;
  }

  .contacts__info dd {
    padding-right: 0;
  }

  .contacts__info-mail-link {
    &:after {
      width: 205px;
    }
  }

  .contact-us {
    margin-left: 0;
  }
}
