.contacts {
  display: block;
  min-width: 260;
  max-width: 320px;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 35px;
  &__title {
    font-family: "OpenSansBold";
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__info {
    font-family: "OpenSansRegular";
    font-size: 15px;
    line-height: 30px;
    color: $gray;
    & dt {
      display: block;
      float: left;
      padding-right: 1px;
    }
    & dd {
      display: block;
//      overflow: hidden;
      padding-right: 40px;
      margin-left: 80px;
    }
  }
}
.contact-us {
  margin: 30px;
}
