.cute-stuff {
  display: block;
  background: $cute-stuff-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -10%;
}
.cute-stuff__title {
  width: 245px;
  margin: 0 auto;
  padding: 75px 0 120px 0;
  font-family: "OpenSansBold";
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}
.interior-btn {
  background: $light-green;
  &:hover {
    background: $light-green-hover;
    &::after {
      opacity: 0.7;
    }
  }
  &:active {
    color: rgba(256, 256, 256, 0.3);
    &::after {
      opacity: 0.3;
    }
  }
}
.toys-btn {
  background: $dark-green;
  &:hover {
    background: $dark-green-hover;
    &::after {
      opacity: 0.7;
    }
  }
  &:active {
    color: rgba(256, 256, 256, 0.3);
    &::after {
      opacity: 0.3;
    }
  }
}
.interior-btn,
.toys-btn {
  &::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
  }
}
.interior-btn::after {
  width: 41px;
  height: 62px;
  right: 36px;
  top: 23px;
  background: url("../img/icon-interior.svg") no-repeat;
}
.toys-btn::after {
  width: 60px;
  height: 60px;
  right: 26px;
  top: 20px;
  background: url("../img/icon-toy.svg") no-repeat;
}
