.cute-stuff {
  background-color: $cute-stuff-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -10%;

  @media #{$retina} {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
}

.cute-stuff__title {
  width: 245px;
  margin: 0 auto;
  padding: 75px 0 116px 0;
  font-family: "OpenSansBold";
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.interior-btn {
  background: $light-green;

  &:hover {
    background: $light-green-hover;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

.toys-btn {
  background: $dark-green;

  &:hover {
    background: $dark-green-hover;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}
.interior-btn,
.toys-btn {

  &::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
  }
}
.interior-btn:after {
  width: 41px;
  height: 62px;
  right: 36px;
  top: 23px;
  background: url("../img/icon-interior.svg") no-repeat;
}
.toys-btn:after {
  width: 60px;
  height: 60px;
  right: 26px;
  top: 20px;
  background: url("../img/icon-toy.svg") no-repeat;
}


@media ($tablet-widths) {

  .cute-stuff {
    position: relative;
    height: 745px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .cute-stuff__title {
    width: 500px;
    margin: 0 auto;
    padding-top: 165px;
    font-family: "OpenSansBold";
    font-size: 43px;
    line-height: 50px;
  }

  .cute-stuff__buttons {
    @include clearfix();
    position: absolute;
    bottom: 0;
    width: 668px;
    margin: 0 50px;
  }

  .interior-btn,
  .toys-btn {
    width: 50%;
    height: 120px;
    padding-top: 35px;
    padding-bottom: 25px;
    float: left;
  }

  .interior-btn:after {
    top: 26px;
  }
  .toys-btn:after {
    top: 26px;
  }

  .toys-btn {
    float: right;
  }

  .cute-stuff__wave {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background-image: url("../img/wave1.png");
    background-repeat: repeat-x;
    background-position: left bottom;
  }
}

@media ($desktop-widths) {

  .cute-stuff__title {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 100px;
    font-family: "OpenSansBold";
    font-size: 53px;
    line-height: 57px;
  }

  .cute-stuff__buttons {
    width: 1050px;
    margin: 0 50px;
  }

  .interior-btn,
  .toys-btn {
    width: 50%;
    height: 120px;
    float: left;
  }

  .toys-btn {
    float: right;
  }

  .cute-stuff__wave {
    height: 34px;
    background-image: url("../img/wave2.png");
  }
}
