.cute-stuff {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 320px;
  min-width: 220px;
  background: #f9f9f9;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -10%;
}
.cute-stuff__title {
  width: 245px;
  margin: 0 auto;
  margin-top: 75px;
  font-family: "OpenSansBold";
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}
.interior-btn {
  width: 100%;
  margin-top: 120px;
  background: $light-green;
  &:hover {
    background: $light-green-hover;
    &::after {
      opacity: 0.7;
    }
  }
  &:active {
    color: rgba(256, 256, 256, 0.3);
    &::after {
      opacity: 0.3;
    }
  }
}
.toys-btn {
  width: 100%;
  background: $dark-green;
  &:hover {
    background: $dark-green-hover;
    &::after {
      opacity: 0.7;
    }
  }
  &:active {
    color: rgba(256, 256, 256, 0.3);
    &::after {
      opacity: 0.3;
    }
  }
}
.interior-btn,
.toys-btn {
  &::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
  }
}
.interior-btn::after {
  width: 41px;
  height: 62px;
  right: 36px;
  top: 23px;
  background: url("../../img/icon-interior.svg") no-repeat;
}
.toys-btn::after {
  width: 60px;
  height: 60px;
  right: 26px;
  top: 20px;
  background: url("../../img/icon-toy.svg") no-repeat;
}
