.feedback {
  display: block;
  padding: 0 30px 42px 30px;
}

.feedback__title {
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
}

.feedback__content {
  display: block;
  font-family: "OpenSansRegular";
  font-size: 15px;
  line-height: 30px;
  color: $gray;
  margin: 35px 0 36px 0;
}

.feedback__author {
  font-family: "OpenSansBold";
  font-size: 18px;
  margin-bottom: 10px;
}

.feedback__nickname {
  font-size: 18px;
  margin-bottom: 35px;
}

.feedback__btn {
  max-width: 175px;
}

.feedback-nav {
  display: block;
  margin: 35px 0 38px 0;
  font-size: 0;
}

.feedback-nav__left {
  display: inline-block;
  background: url("../img/icon-left-arrow.svg") no-repeat center;
}

.feedback-nav__right {
  display: inline-block;
  background: url("../img/icon-right-arrow.svg") no-repeat center;
}

.feedback-nav__left,
.feedback-nav__right {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media ($tablet-widths) {
  .feedback {
    position: relative;
    height: 457px;
    background-image: url("../img/review.jpg");
    background-size: 350px 457px;
    background-position: left;
    background-repeat: no-repeat;
    margin: 0 50px 58px 0;
    padding: 79px 0 0 50px;
  }

  .feedback__title {
    display: block;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__content {
    width: 660px;
    font-size: 17px;
    margin: 55px 0 60px 0;
  }

  .feedback__nickname {
    font-size: 17px;
    margin-bottom: 50px;
  }

  .feedback__btn {
    position: absolute;
    width: 175px;
    top: 79px;
    right: 0;
    line-height: 16px;
    padding: 17px 0;
  }

  .feedback-nav {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 175px;
  }

  .arrow-btn {
    box-shadow: none;
  }
}


@media ($desktop-widths) {
  .feedback {
    padding-left: 175px;
    padding-top: 76px;
    margin-left: 50px;
    margin-bottom: 66px;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__content {
    width: 770px;
    margin: 55px 0 55px 0;
  }

  .feedback__nickname {
    margin-bottom: 50px;
  }

  .feedback-nav {
    bottom: 30px;
    right: 0;
  }
}
