.feedback  {
  display: block;
  padding: 30px;
  padding-top: 0;

  &__title {
    font-family: "OpenSansBold";
    font-size: 25px;
    line-height: 30px;
  }

  &__content {
    display: block;
    font-family: "OpenSansRegular";
    font-size: 15px;
    line-height: 30px;
    color: $gray;
    margin: 30px 0 30px 0;
  }

  &__author {
    font-family: "OpenSansBold";
    font-size: 18px;
  }

  &__nickname {
    font-size: 18px;
    margin-bottom: 35px;
  }

  &__btn {
    max-width: 175px;
  }
}

.feedback-nav {
  display: block;
  margin: 35px 0 35px 0;
  font-size: 0;

  &__left {
    display: inline-block;
    background: url("../img/icon-left-arrow.svg") no-repeat center;
  }

  &__right {
    display: inline-block;
    background: url("../img/icon-right-arrow.svg") no-repeat center;
  }
}


@media ($tablet-widths) {
  .feedback {
    position: relative;
    height: 457px;
    background-image: url("../img/review.jpg");
    background-size: 350px 457px;
    background-position: left;
    background-repeat: no-repeat;
    margin: 50px;
    padding: 85px 50px 0 50px;

    &__title {
      display: block;
      font-size: 43px;
      line-height: 50px;
    }
    &__content {
      width: 642px;
      font-size: 17px;
      margin: 55px 0 60px 0;
    }
    &__nickname {
      font-size: 17px;
      margin-bottom: 50px;
    }
    &__btn {
      position: absolute;
      width: 175px;
      top: 85px;
      right: 50px;
    }
  }
  .feedback-nav {
    position: absolute;
    bottom: 35px;
    right: 50px;
    width: 175px;
  }
  .arrow-btn {
    box-shadow: none;
  }
}


@media ($desktop-widths) {
  .feedback {
    padding-left: 175px;

    &__title {
      font-size: 53px;
      line-height: 57px;
    }
    &__content {
      width: 769px;
      margin: 55px 0 60px 0;
    }
    &__nickname {
      margin-bottom: 50px;
    }
    &__btn {
      top: 85px;
      right: 50px;
    }
  }
  .feedback-nav {
    bottom: 35px;
    right: 50px;
  }
}
