.contacts__map {
  height: 457px;
  margin: 0 -30px 40px -30px;
  padding: 0;
  background: url("../img/map-mobile@1x.jpg") no-repeat center;

  @media #{$retina} {
      background-image: url("../img/map-mobile@2x.jpg");
    }
}


@media ($tablet-widths) {
  .contacts__map {
    width: 100%;
    margin: 0 0 55px 0;
    background: url("../img/map-tablet@1x.jpg") no-repeat center;

    @media #{$retina} {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}


@media ($desktop-widths) {
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    width: 525px;
    background: url("../img/map-desktop@1x.jpg") no-repeat center;

    @media #{$retina} {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}
