.map {
  height: 457px;
  margin: 0 0 40px 0;
  padding: 0;
  background: url("../img/map-mobile@1x.jpg") no-repeat center;
}


@media ($tablet-widths) {

  .map {
    width: 100%;
    margin-bottom: 55px;
    border: 1px solid brown; //временно
  }
}


@media ($desktop-widths) {
  .map {
    width: 525px;
    float: right;
    background-image: none;
    border: 1px solid brown; //временно
    background-size: 525px 457px;
    margin-right: 50px;
    margin-top: 80px;
  }
}
