.catalog-item {
  display: block;
  box-shadow: inset 0 0 0 1px $box-shadow;
  margin: 30px 30px 0 30px;
  &__img {
    background-size: 260px 195px;
  }
  &__name {
    margin: 30px 30px 0 30px;
    font-family: "OpenSansBold";
    font-size: 17px;
    line-height: 24px;
  }
  &__description {
    margin: 0 30px 0 30px;
    padding: 18px 0 20px 0;
    font-family: "OpenSansRegular";
    font-size: 13px;
    line-height: 30px;
    box-shadow: inset 0 -1px 0 0 $box-shadow;
  }
  &__price {
    display: inline-block;
    margin-left: 30px;
    padding: 18px 0 20px 0;
    font-family: "OpenSansBold";
    font-size: 15px;
    line-height: 24px;
  }
  &__cart {
    display: inline-block;
    float: right;
    margin-right: 30px;
    border: none;
    width: 90px; //увеличена ширина и высота блока
    height: 60px;//для удобства покупки
    vertical-align: middle;
    text-align: right;
    background-color: $bg-color;
    background-image: url("../../../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.2;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.catalog-item__name > a {
  text-decoration: none;
  color: $black;
}

