.catalog-item {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px $box-shadow;
  margin: 30px 30px 0 30px;
}

.catalog-item:hover .catalog-item__details {
  box-shadow: 0 6px 10px 0 $box-shadow;
}

.catalog-item:active .catalog-item__details {
  box-shadow: 0 3px 5px 0 $box-shadow;
}

.catalog-item__img {
  display: block;
  width: 260px;
  height: 196px;
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-position: center;

  &--rabbit {
    background-image: url("../img/photo-1-mobile@1x.jpg");
  }

  &--cart {
    background-image: url("../img/photo-2-mobile@1x.jpg");
  }

  &--toy-cart {
    background-image: url("../img/photo-3-mobile@1x.jpg");
  }
}

.catalog-item__name {
  margin: 23px 30px 0 30px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 24px;

  &:hover a {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active a {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-item__order-info {
  margin: 0 auto;
  width: 200px;
  box-shadow: inset 0 1px 0 0 $box-shadow;
}

.catalog-item__description {
  margin: 0 30px 0 30px;
  padding: 10px 0 17px 0;
  font-family: "OpenSansRegular";
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price {
  display: inline-block;
  padding: 22px 0 27px 0;
  font-family: "OpenSansBold";
  font-size: 15px;
  line-height: 24px;
}

.catalog-item__cart {
  display: inline-block;
  float: right;
  border: none;
  width: 90px; //увеличена ширина и высота блока
  height: 72px;//для удобства покупки
  cursor: pointer;
  vertical-align: middle;
  text-align: right;
  background-color: $bg-color;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.2;
}

.catalog-item:last-child {
  margin-bottom: 0;
}

.catalog-item__name > a {
  text-decoration: none;
  color: $black;
}


@media ($tablet-widths) {
  .catalog-item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 54px 50px 0 50px;
  }

  .catalog-item__img {
    height: 334px;
    width: 334px;
    border: 1px solid brown;
  }

  .catalog-item__details {
    display: flex;
    flex-direction: column;
  }

  .catalog-item__name,
  .catalog-item__description {
    width: 268px;
    margin-left: 33px;
    margin-right: 33px;
    max-height: 200px;
  }
  .catalog-item__name {
    font-size: 20px;
  }

  .catalog-item__price {
    font-size: 17px;
  }

  .catalog-item__description {
    font-size: 15px;
  }

  .catalog-item__order-info {
    width: 268px;
    margin-top: auto;
  }
}


@media ($desktop-widths) {
  .catalog {
    margin-bottom: 0;
  }

  .catalog-item {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .catalog-item__img {
    height: 462px;
    width: 316px;
  }

  .catalog-item__order-info,
  .catalog-item__name,
  .catalog-item__description {
    width: auto;
  }

  .catalog-item__name {
    margin-top: 18px;
  }

  .catalog-item__description {
    font-size: 17px;
  }

  .catalog-item__order-info {
    width: 256px;
    margin-top: auto;
  }
}
