.catalog {
  display: flex;
  flex-direction: column;
//  align-items: center;
  min-width: 260px;
  max-width: 320px;
  &__title {
    display: block;
    max-width: 320px;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
    font-family: "OpenSansBold";
    font-size: 27px;
    line-height: 30px;
    background-color: $footer-bg-color;
  }
}
