.info-block {
  display: block;
  position: relative;
  margin: 30px;
  margin-bottom: 60px;
  box-shadow: inset 0 0 0 1px $box-shadow;

  &:hover {
    box-shadow: 0 6px 10px 0 $box-shadow, inset 0 0 0 1px $box-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $box-shadow, inset 0 0 0 1px $box-shadow;
  }
}

.info-block__intro-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 95px;
  align-items: center;
}

.info-block__logo {
  width: 32px;
  height: 32px;
  fill: $light-green;
  margin-right: 25px;
  margin-left: 33px;
}

.info-block__title {
  display: block;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 24px;
  max-width: 150px;
}

.info-block__description {
  padding: 26px 34px 22px 34px;
  font-family: "OpenSansRegular";
  font-size: 13px;
  line-height: 24px;
}

.info-block__video-wrapper {
  display: block;
  position: relative;
}

.info-block__order-wrapper {
  padding-bottom: 32px;
}

.info-block__btn {
  margin: 0 33px;
  line-height: 16px;
}

.info-block__video-icon {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 101px;
  height: 77px;
  margin: auto;
  border: none;
  outline: none;
  z-index: 1;
  background: url("../img/icon-play.svg") no-repeat center;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: $time;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
    transition: $time;
  }
}


@media ($tablet-widths) {
  .info-block {
    display: flex;
    flex-direction: column;
    margin: 52px 50px 63px 50px;
  }

  .info-block__video-wrapper {
    width: auto;
    height: 455px;
    order: -1;
  }

  .info-block__intro-wrapper {
    justify-content: flex-start;
    height: auto;
    margin: 38px 42px 0 38px;
  }

  .info-block__order-wrapper {
    padding-bottom: 45px;
  }

  .info-block__logo {
    margin-left: 0;
    margin-right: 33px;
  }

  .info-block__title {
    max-width: 300px;
  }

  .info-block__description {
    padding: 30px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .info-block__btn {
    margin: 0 40px;
  }
}


@media ($desktop-widths) {
  .info-block {
    flex-wrap: wrap;
    position: relative;
    margin: 8px 50px 105px 50px;
    padding-bottom: 0;
  }

  .info-block__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }

  .info-block__intro-wrapper {
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
    margin: 38px 57px 0 682px;
    padding-left: 78px;
  }

  .info-block__title {
    width: 150px;
    font-size: 20px;
  }

  .info-block__order-wrapper {
    margin-left: 682px;
    padding-left: 78px;
    padding-bottom: 52px;
  }

  .info-block__logo {
    margin-bottom: 28px;
  }

  .info-block__description {
    width: 300px;
    padding: 38px 50px 47px 0;
  }

  .info-block__btn {
    width: 230px;
    margin-left: 0;
  }
}
