.fieldset-block {
  margin-bottom: 20px;
  border: none;
  label {
    display: block;
    font-family: "OpenSansBold";
    font-size: 17px;
    line-height: 18px;
    padding: 20px 0 20px 0;
  }
}
.order-personal,
.order-phone,
.order-mail {
  input {
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px solid $black;
    font-family: "OpenSansRegular";
    font-size: 17px;
    line-height: 18px;
  }
}
.order-phone {
  position: relative;
  &__logo {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 8px;
    bottom: 13px;
    background: url("../img/icon-phone.svg") no-repeat center;
    opacity: 0.2;
  }
}
.order-mail {
  position: relative;
  &__logo {
    position: absolute;
    width: 32px;
    height: 22px;
    right: 4px;
    bottom: 13px;
    background: url("../img/icon-mail.svg") no-repeat center;
    opacity: 0.2;
  }
}
.order-extra {
  textarea {
    width: 260px;
    height: 140px;
    margin-top: 23px;
    padding: 15px;
    border: none;
    box-shadow: inset 0 0 0 2px $black;
    font-family: "OpenSansRegular";
    font-size: 17px;
    line-height: 18px;
  }
}
