.order-title {
  display: block;
  width: 320px;
  padding: 25px 30px 26px 30px;
  font-weight: normal;
  font-family: "OpenSansRegular";
  font-size: 13px;
  line-height: 24px;
}

.order-form {
  margin: 0 30px 30px 30px;
}

.order-form__group {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;

  &--phone-order,
  &--mail-order {
    position: relative;
    margin-bottom: 30px;
  }

  &--color-order {
    margin-bottom: 8px;
  }

  &--personal-order {
    margin-bottom: 34px;
  }

  &--extra-order {
    margin-bottom: 16px;
  }
}

.order-form__intro {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 16px;
  color: $light-green;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 25px;
    background-color: $light-green;
  }

  &--color {
    margin-bottom: 22px;
  }

  &--personal {
    margin-bottom: 10px;
  }
}


@media ($tablet-widths) {
  .order-title {
    width: auto;
    margin: 0 50px 0 50px;
    font-size: 17px;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 0;
  }

  .order-form {
    margin-left: 0;
    margin-right: 0;
  }

  .order-form__group {
    display: flex;
    position: relative;
    padding-left: 167px; //временно
    margin-bottom: 0;

    &--type-order {
      padding-left: 0;
    }

    &--color-order {
      padding-left: 0;
      background-color: $footer-bg-color;
    }

    &--personal-order {
      padding-left: 0;
    }
    &--phone-order {
      padding-left: 0;
      background-color: $footer-bg-color;
    }
    &--mail-order {
      padding-left: 0;
      background-color: $footer-bg-color;
    }
    &--extra-order {
      padding-left: 0;
    }
  }

  .order-form__intro {
    position: absolute;
    left: 52px;
    top: 70px;
    max-width: 150px;

    &:after {
      display: none;
    }

    &--type {
      top: 55px;
    }

    &--color {
      top: 65px;
    }

    &--personal {
      top: 68px;
    }

    &--phone {
      top: 70px;
    }

    &--mail {
      top: 43px;
    }

    &--extra {
      top: 65px;
    }
  }
}


@media ($desktop-widths) {
  .order-title {
    width: 710px;
    margin-left: 225px;
    margin-right: 0;
    padding: 22px 30px 22px 0;
  }

  .order-form__intro {
    left: 110px;

    &:after {
      display: none;
    }

    &--type {
      top: 50px;
    }

    &--color {
      top: 68px;
    }

    &--mail {
      top: 20px;
    }
  }
}
