.order-phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-phone input {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-bottom: 2px solid $black;
  font-family: "OpenSansRegular";
  font-size: 17px;
  line-height: 18px;

  &:hover {
    border-bottom: 2px solid $light-green;
    transition-duration: $time;
  }

  &:focus {
    border-bottom: 2px solid $light-green;
  }
}

.phone-order__logo {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 8px;
  bottom: 13px;
}

.phone-order__logo svg {
  opacity: 0.2;
}

.order-phone input:hover + .phone-order__logo svg {
  opacity: 1;
  fill: $light-green;
}


@media ($tablet-widths) {
  .order-phone {
    position: relative;
    width: 100%;
    padding: 45px 50px 0 217px;
  }

  .order-phone input {
    background-color: $footer-bg-color;
    font-size: 19px;
  }

  .phone-order__logo {
    bottom: 15px;
    right: 57px;
  }
}


@media ($desktop-widths) {
  .order-phone {
    padding: 45px 225px 22px 225px;
  }

  .phone-order__logo {
    bottom: 40px;
    right: 233px;
  }
}
