.order-form__group--extra-order textarea {
  width: 260px;
  height: 140px;
  margin-top: 18px;
  padding: 15px;
  border: none;
  outline: none;
  resize: none;
  box-shadow: inset 0 0 0 2px $black;
  font-size: 17px;
  line-height: 18px;
  overflow: auto;

  &:hover {
    box-shadow: inset 0 0 0 2px $light-green;
    transition-duration: $time;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $light-green;
  }
}


@media ($tablet-widths) {
  .order-extra {
    position: relative;
    width: 100%;
    padding: 50px 50px 0 217px;
    margin-bottom: 50px;
  }

  .order-form__group textarea {
    width: 100%;
    margin-top: 0;
    font-size: 19px;
  }
}


@media ($desktop-widths) {
  .order-extra {
    padding: 50px 225px 0 225px;
    margin-bottom: 47px;
  }
}
