.order-personal-label {
  display: block;
  padding-top: 25px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 18px;
}

.order-personal-input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  border-bottom: 2px solid $black;
  font-family: "OpenSansRegular";
  font-size: 17px;
  line-height: 18px;

  &:hover {
    border-bottom: 2px solid $light-green;
  }

  &:active {
    border-bottom: 2px solid $light-green;
  }
}


@media ($tablet-widths) {
  .order-personal {
    width: 100%;
    padding: 54px 50px 0 217px;
  }

  .order-personal-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-bottom: 26px;
    font-size: 19px;

    &:last-child {
      padding-bottom: 50px;
    }
  }

  .order-personal-input {
    margin-left: 25px;
  }
}


@media ($desktop-widths) {
  .order-personal {
    padding: 54px 225px 0 225px;
  }

  .order-personal-label {
    padding-bottom: 27px;

     &:last-child {
      padding-bottom: 52px;
    }
  }
}
