.order-color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-color__label {
  position: relative;
  display: block;
  width: 200px;
  margin-bottom: 22px;
  padding: 11px 10px 10px 65px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;

  &:hover .order-color__input-icon {
    color: $light-green;
    transition-duration: $time;
  }

  &:active .order-color__input-icon {
    color: rgba(0, 0, 0, 0.3);
  }
}

.order-color__check {
  display: none;
}

.order-color__input-icon {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  z-index: 1;
  width: 39px;
  height: 39px;
  box-shadow: inset 0 0 0 2px;
  color: $gray;
}

.order-color__check:checked + .order-color__input-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  transform: rotate(-45deg);
}


@media ($tablet-widths) {
  .order-color {
    margin: 50px 50px 30px 217px;
  }

  .order-color__label {
    height: 50px;
    width: 250px;
    margin-bottom: 24px;
    padding: 17px 10px 15px 80px;
    font-size: 19px;
  }

  .order-color__input-icon {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }

  .order-color__check:checked + .order-color__input-icon:before {
    top: 10px;
    left: 10px;
    width: 30px;
    height: 15px;
  }
}


@media ($desktop-widths) {
  .order-color {
    flex-direction: row;
    margin-left: 225px;
    align-content: space-around;
  }

  .order-color__label {
    width: 260px;
  }
}
