.order-form__group--mail-order input {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 2px solid $black;
  font-family: "OpenSansRegular";
  font-size: 17px;
  line-height: 18px;

  &:hover {
    border-bottom: 2px solid $light-green;
  }

  &:active {
    border-bottom: 2px solid $light-green;
  }
}

.mail-order__logo {
  position: absolute;
  width: 32px;
  height: 22px;
  right: 4px;
  bottom: 13px;
  background: url("../img/icon-mail.svg") no-repeat center;
  opacity: 0.2;
}

@media ($tablet-widths) {
  .order-mail {
    position: relative;
    width: 100%;
    padding: 22px 50px 50px 217px;
  }

  .order-form__group--mail-order input {
    background-color: $footer-bg-color;
    font-size: 19px;
  }

  .mail-order__logo {
    right: 55px;
    bottom: 65px;
  }
}


@media ($desktop-widths) {
  .order-mail {
    padding: 0 225px 50px 225px;
  }

  .mail-order__logo {
    right: 230px;
    bottom: 65px;
  }
}
