.order-type__input {
  display: none;
}

.order-type__label {
  position: relative;
  display: block;
  padding: 20px 10px 20px 65px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 18px;
}

.order-type__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  margin-top: -20px;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 2px $gray;
}

.order-type__input-icon:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $light-green;
  transform: scale(0);
  transition-property: transform;
  transition-duration: $time;
}

.order-type__input:checked + .order-type__input-icon:before {
    transform: scale(1);
}
