.order-form-submit {
  @include container();
  padding: 0 30px;
}

.order-form__note {
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  line-height: 16px;
  background-color: $bg-color;
}


@media ($tablet-widths) {
  .order-form-submit {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

  }

  .order-form__note {
    width: auto;
    order: 1;
  }

  .order-form__btn {
    margin: 0;
    width: 230px;
    line-height: 16px;
    order: 0;
  }
}


@media ($desktop-widths) {
  .order-form-submit {
    padding: 0 225px;
  }
}
