.order-mail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-mail input {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-bottom: 2px solid $black;
  font-size: 17px;
  line-height: 18px;

  &:hover {
    border-bottom: 2px solid $light-green;
    transition-duration: $time;
  }

  &:focus {
    border-bottom: 2px solid $light-green;
  }
}

.mail-order__logo {
  position: absolute;
  width: 32px;
  height: 22px;
  right: 34px;
  bottom: 13px;
}

.mail-order__logo svg {
  opacity: 0.2;
}

.order-mail input:hover + .mail-order__logo svg {
  opacity: 1;
  fill: $light-green;
}


@media ($tablet-widths) {
  .order-mail {
    position: relative;
    width: 100%;
    padding: 22px 50px 50px 217px;
  }

  .order-mail input {
    background-color: $footer-bg-color;
    font-size: 19px;
  }

  .mail-order__logo {
    right: 55px;
    bottom: 65px;
  }
}


@media ($desktop-widths) {
  .order-mail {
    padding: 0 225px 50px 225px;
  }

  .mail-order__logo {
    right: 230px;
    bottom: 65px;
  }
}
