.page-name {
  background-color: $footer-bg-color;
}

.page-name__title {
  @include container();
  display: block;
  padding: 67px 0 80px 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}


@media ($tablet-widths) {
  .page-name {
    position: relative;
  }
  .page-name__title {
    padding: 98px 0 90px 0;
    font-size: 43px;
    line-height: 50px;
  }
}


@media ($desktop-widths) {
  .page-name__title {
    padding: 98px 0 99px 0;
    font-size: 53px;
    line-height: 57px;
  }
}
