* {
  font-family: "OpenSansRegular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 260px;
  width: 320px;
}
.order-wrapper {
  display: block;
}
