* {
  font-family: "OpenSansRegular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.order-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
