.main-menu {
  display: block;
  position: relative;
  &--visible {
  }
  &__toggle {
    display: block;
    position: absolute;
    right: 30px;
    top: -50px;
    //контейнер блока больше изображения для удобства
    //использования на мобильных
    width: 26px;
    height: 20px;
    border: none;
    background: url(../img/icon-menu-close.svg) no-repeat top right;
//    background-size: 20px 14px;
  }
}
.main-menu ul {
  display: block;
  list-style: none;
  padding-left: 0;
}
.main-menu-item {
  &__title {
    //!!!!!!! есть вопрос по выравниванию названий пунктов меню с иконкой и без иконки
    display: block;
    width: 100%;
    height: 80px;
    padding-top: 30px;
    text-decoration: none;
    font-family: "OpenSansBold";
    font-size: 17px;
    line-height: 24px;
    color: $black;
    box-shadow: inset 0 -1px 0 0 $box-shadow;
    background-color: $bg-color;
    transition: color ease 0.2s;
    &:first-child {
      box-shadow: inset 0 1px 0 0 $box-shadow;
    }
    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__search {
    display: block;
    float: left;
    margin: 0 30px 0 30px;
    fill: $gray;
    transition: fill ease 0.2s;
  }
  &__cart {
    display: block;
    float: left;
    margin: 0 30px 0 30px;
    fill: $gray;
    transition: fill ease 0.2s;
  }
}
.main-menu-item {
  &:hover {
    .main-menu-item__search {
      fill: $light-green;
    }
  }
}
.main-menu-item {
  &:hover {
    .main-menu-item__title {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
.main-menu-item {
  &:hover {
    .main-menu-item__cart {
      fill: $light-green;
    }
  }
}
