//************ПЕРЕКЛЮЧАТЕЛЬ МЕНЮ*************
.main-menu__toggle-wrapper {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.main-menu__toggle {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 22px;
  height: $sliceHeight;
  width: 30px;
  background: $gray;
  transition: $time;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    width: 30px;
    height: $sliceHeight;
    background: $gray;
    transition: $time;
  }

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 30px;
    height: $sliceHeight;
    background: $gray;
    transition: $time;
  }
}

.main-menu__toggle--crossed {
  background: transparent;

  &:before {
    transform:rotate(45deg);
    top: 0;
  }

  &:after {
    transform:rotate(-45deg);
    top: 0;
  }
}
//*******************************************


.main-menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.main-menu-item {
  display: flex;
  width: 100%;
  box-shadow: inset 0 1px 0 0 $box-shadow;
}

.main-menu-item__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  text-decoration: none;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 24px;
  color: $black;
  padding-left: 80px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-menu-item__search-text {
  font-family: "OpenSansBold";
}

.main-menu-item__title:hover .main-menu-item__search {
  fill: $dark-green-hover;
}

.main-menu-item__title:active .main-menu-item__search {
  opacity: 0.3;
}

.main-menu-item__title:hover .main-menu-item__cart {
  fill: $dark-green-hover;
}

.main-menu-item__title:active .main-menu-item__cart {
  opacity: 0.3;
}

.main-menu-item__search,
.main-menu-item__cart {
  height: 80px;
  width: 20px;
  margin: 0 30px 0 -50px;
}

.extra-menu__list {
  display: none;
}

.extra-menu-item__title {

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

//АНИМАЦИЯ ПОЯВЛЕНИЯ МЕНЮ//
.main-menu__list {
  &--invisible {
    transform: translateY(-1000px);
    transition-duration: 1s;
  }

  &--visible {
    transition-duration: 1s;
  }
}
//************************

@media ($tablet-widths) {
  .main-menu__list {
    &--invisible {
      transform: none;
      transition-duration: 0s;
    }
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 88px;
  }

  .main-menu-item {
    width: auto;
    box-shadow: none;

    &:first-child,
    &:nth-child(2) {
      position: absolute;
      top: 88px;
      z-index: 2;
    }

    &:first-child {
      left: 50px;
      padding-left: 0;
    }

    &:nth-child(2) {
      left: 218px;
    }

    &:last-child {
      box-shadow: none;
    }
  }

  .main-menu-item__search {
    width: 20px;
    height: 88px;
    margin: 0;
    margin-right: 0;
  }

  .main-menu-item__search-text {
    display: none;
  }

  .main-menu-item:first-child .main-menu-item__title,
  .main-menu-item:nth-child(2) .main-menu-item__title {
    height: 74px;
    font-size: 15px;
  }

  .main-menu-item__title {
    height: 88px;
    padding-left: 0;
  }


  .main-menu-item__title--search {
    padding: 0 30px 0 30px;
    box-shadow: 0 0 0 1px $box-shadow;
  }


  .main-menu-item:last-child .main-menu-item__title {
    padding-left: 80px;
  }


  .extra-menu__list {
    display: flex;
    height: 74px;
    width: 100%;
    justify-content: flex-end;
  }

  .extra-menu-item {
    display: inline-flex;
    align-items: center;

    &--new-release,
    &--sale {
      display: none;
    }

    &--shipping {
      z-index: 5;
    }
  }

  .extra-menu-item__title {
    height: 24px;
    text-decoration: none;
    font-family: "OpenSansBold";
    font-size: 15px;
    line-height: 24px;
    color: $gray;
  }

  .extra-menu-item__title {
    &--regular-font {
      font-family: "OpenSansRegular";
    }
  }
}


@media ($desktop-widths) {
  .main-menu__list {
    justify-content: flex-start;
  }

  .main-menu-item {

    &:first-child {
      position: static;
      min-width: 160px;
      margin-right: 50px;
    }

    &:nth-child(2) {
      position: static;
      min-width: 160px;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .main-menu-item__title {
    position: static;
    height: 88px;
  }

  .main-menu-item:first-child .main-menu-item__title,
  .main-menu-item:nth-child(2) .main-menu-item__title {
    height: 88px;
    font-size: 17px;
  }

  .extra-menu__list {
    justify-content: flex-start;
  }

  .extra-menu-item {
    display: inline-flex;
    position: static;
    z-index: 5;

    &--new-release {
      min-width: 160px;
      margin-right: 50px;
    }

    &--shipping {
      margin-left: auto;
    }
  }
}
