.page-footer-logo {
  display: none;
}

.social,
.developed {
  height: 80px;
  display: block;
  margin: 0 auto;
  width: 240px;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 $footer-line;
}

.social__inst svg{
  height: 22px;
  width: 22px;
}

.social__fb svg {
  height: 29px;
  width: 15px;
}

.social__twitter svg {
  height: 24px;
  width: 20px;
}

.social__inst,
.social__fb,
.social__twitter {

  &:hover svg {
    fill: $dark-green;
  }

  &:active svg {
    fill: $dark-green;
    opacity: 0.3;
  }
}

.developed__title,
.developed__logo {
  display: inline-block;
  vertical-align: middle;
}

.developed__title-text {
  font-family: "OpenSansBold";
  font-size: 19px;
  padding-right: 30px;
}

.developed__title {
  margin-top: 30px;
  text-decoration: none;
  color: $black;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}

.developed__title:hover > .developed__logo {
  fill: $dark-green;
}

.developed__logo {
  width: 27px;
  height: 30px;
  fill: $light-green;
}


@media ($tablet-widths) {
  .page-footer-logo {
    display: block;
    height: 34px;
    margin-right: 118px;
    margin-top: 53px;
    background-size: 102px 34px;
    float: left;

    &[href]:hover {
      fill: $dark-green;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .page-footer-logo__svg {
    width: 102px;
  }

  .developed {
    height: 140px;
    width: 220px;
    float: right;
    box-shadow: none;
    text-align: right;
  }

  .developed__title {
    margin-top: 60px;
  }

  .social {
    width: 220px;
    height: 140px;
    float: left;
    box-shadow: none;
  }
}

@media ($desktop-widths) {
  .social {
    margin-left: 200px;
  }
}
