.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  min-width: 220px;
  box-shadow: inset 0 1px 0 0 $box-shadow, inset 0 -1px 0 0 $box-shadow;
  z-index: 2000;
  &__logo {
    display: block;
    width: 86px;
    height: 35px;
    margin-top: 22px;
    margin-bottom: 23px;
    background: url(../../img/logo-mobile.svg) no-repeat;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
