.social,
.developed {
  max-width: 260px;
}
.social {
  display: block;
  text-align: center;
//  vertical-align: middle;
  margin: 0 auto;
  height: 80px;
  box-shadow: inset 0 -1px 0 0 $footer-line;
  &__inst,
  &__fb,
  &__twitter {
    display: block;
    height: 40px;
    width: 80px;
    vertical-align: middle;
    float: left;
  }
  &__inst {
    background: url("../img/icon-insta.svg") no-repeat center;
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__fb {
    background: url("../img/icon-fb.svg") no-repeat center;
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__twitter {
    background: url("../img/icon-twitter.svg") no-repeat center;
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
.developed {
  display: block;
  height: 80px;
  &__title {
    display: inline-block;
    line-height: 0;
    padding-right: 30px;
    font-family: "OpenSansBold";
    font-size: 19px;
    &:visited {
      opacity: 0.3;
    }
  }
  &__logo {
    display: inline-block;
    height: 80px;
    width: 27px;
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
