.page-header__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 50%;
  margin: 0 0 0 -43px;
  height: 35px;
  width: 86px;
  background: url(../img/logo-mobile.svg) no-repeat center;
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media ($tablet-widths) {
  .page-header__logo {
    left: 50px;
    margin: 0;
  }
}


@media ($desktop-widths) {
  .page-header__logo {
    left: 50%;
    margin-left: -75px;
  }
}
