.page-footer {
  display: block;
  padding: 0 30px 0 30px;
  background-color: $footer-bg-color;
}
.social {
  text-align: center;
  height: 80px;
  box-shadow: inset 0 -1px 0 0 $footer-line;
  &__inst,
  &__fb,
  &__twitter {
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
  }
  &__inst {
    width: 22px;
    height: 22px;
    margin-right: 40px;
    background-image: url("../img/icon-insta.svg");
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__fb {
    width: 15px;
    height: 28px;
    margin-right: 40px;
    background-image: url("../img/icon-fb.svg");
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__twitter {
    width: 24px;
    height: 21px;
    background-image: url("../img/icon-twitter.svg");
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
.developed {
  height: 80px;
  text-align: center;
  &__title {
    display: inline-block;
    padding-right: 30px;
    font-family: "OpenSansBold";
    font-size: 19px;
    &:visited {
      opacity: 0.3;
    }
  }
  &__logo {
    display: inline-block;
    width: 27px;
    margin-top: 22px;
    &:hover {
      fill: $dark-green;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
