.page-header__logo {
  display: block;
  height: 80px;
  width: 86px;
  margin: 0 auto;

  background: url(../img/logo-mobile.svg) no-repeat center;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
